.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 18px;
  padding-left: 40px;
  padding-right: 40px;
  background-color: #121212;
}

.logoImg {
  width: 130px;
  height: 44px;
  margin-bottom: 0px;
}

.navLinks {
  list-style: none;
  display: flex;
  width: 140px;
  justify-content: space-between;
  color: white;
}

.logoutBtn {
  padding: 7px 30px;
  background-color: #4f46e5;
  color: white;
  border: 0px;
  border-radius: 5px;
  cursor: pointer;
}

.iconCont {
  display: none;
}

.icons {
  color: white;
  margin-right: 15px;
  font-size: 20px;
}

.links {
  list-style: none;
  text-decoration: none;
  color: white;
  font-weight: 600;
}

@media screen and (max-width: 767px) {
  .iconCont {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .logoImg {
    width: 90px;
    height: 29px;
    margin-bottom: 0px;
  }

  .navLinks {
    display: none;
  }

  .logoutBtn {
    display: none;
  }

  .navbar {
    padding: 15px;
    padding-left: 20px;
    padding-right: 20px;
  }
}
